In [1]:
import matplotlib.pyplot as plt
from sklearn import svm
from sklearn import datasets
from sklearn.model_selection import train_test_split
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
data = pd.read_csv("ecoli.csv")
data.head()

    mcg   gvh   lip  chg   aac  alm1  alm2 binaryClass
0  0.49  0.29  0.48  0.5  0.56  0.24  0.35           P
1  0.07  0.40  0.48  0.5  0.54  0.35  0.44           P
2  0.56  0.40  0.48  0.5  0.49  0.37  0.46           P
3  0.59  0.49  0.48  0.5  0.52  0.45  0.36           P
4  0.23  0.32  0.48  0.5  0.55  0.25  0.35           P

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 336 entries, 0 to 335
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   mcg          336 non-null    float64
 1   gvh          336 non-null    float64
 2   lip          336 non-null    float64
 3   chg          336 non-null    float64
 4   aac          336 non-null    float64
 5   alm1         336 non-null    float64
 6   alm2         336 non-null    float64
 7   binaryClass  336 non-null    object
dtypes: float64(7), object(1)
memory usage: 21.1+ KB

In [4]:
X = data[["mcg", "gvh","lip","chg","aac","alm1","alm2"]]
y = data["binaryClass"]

In [5]:
X.head()

    mcg   gvh   lip  chg   aac  alm1  alm2
0  0.49  0.29  0.48  0.5  0.56  0.24  0.35
1  0.07  0.40  0.48  0.5  0.54  0.35  0.44
2  0.56  0.40  0.48  0.5  0.49  0.37  0.46
3  0.59  0.49  0.48  0.5  0.52  0.45  0.36
4  0.23  0.32  0.48  0.5  0.55  0.25  0.35

In [6]:
y.head()

0    P
1    P
2    P
3    P
4    P
Name: binaryClass, dtype: object

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.30)

In [8]:
clf = svm.SVC(kernel='linear')
clf.fit(X_train, y_train)

SVC(kernel='linear')

In [9]:
y_pred = clf.predict(X_test)

In [10]:
from sklearn.metrics import accuracy_score
print("Accuracy is ", accuracy_score(y_test,y_pred)*100,"%")

Accuracy is  95.04950495049505 %

In [11]:
print("The Train/ Score is: ",
clf.score(X_train,y_train)*100,"%")
print("The Test/ Score accuracy is: ",
clf.score(X_test,y_test)*100,"%")

The Train/ Score is:  96.59574468085106 %
The Test/ Score accuracy is:  95.04950495049505 %

In [12]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

[[56  3]
 [ 2 40]]
              precision    recall  f1-score   support

           N       0.97      0.95      0.96        59
           P       0.93      0.95      0.94        42

    accuracy                           0.95       101
   macro avg       0.95      0.95      0.95       101
weighted avg       0.95      0.95      0.95       101

In [13]:
X_new = [[0.49,0.29,0.48,0.50,0.56,0.24,0.35]]

In [14]:
y_new = clf.predict(X_new)
y_new

C:\Users\man28\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

array(['P'], dtype=object)

Nhận xét: Vì tập dữ liệu có nhiều features nên lựa chọn thuật toán SVM(linear kernel) để phân loại với tập dữ liệu nhiều chiều. Train/Test score accuracy cho ra tương đối cao.